{% extends 'base.html' %}
{% load static %}


{% block content %}


<main class="container">
    <h1 class= "container-title">Nuestros Productos</h1>

    <aside class="filters">
        <div class="card">
            <article class="filter-group">
                <header class="card-header">
                    <a href="#" data-toggle="collapse" data-target="#collapse_1" aria-expanded="true" class="">
                        <i class="icon-control fa fa-chevron-down"></i>
                        <h6 class="title">Categorias</h6>
                    </a>
                </header>
                <div class="filter-content collapse show" id="collapse_1" style="">
                    <div class="card-body">

                        <ul class="list-menu">
                            {% for category in links %}
                            <li><a href="{{category.get_url}}">{{category.category_name}}</a></li>
                            {% endfor %}
                        </ul>
                    
                    </div> <!-- card-body.// -->
                </div>
            </article> <!-- filter-group  .// -->

            <article class="filter-group">
                <header class="card-header">
                    <a href="#" data-toggle="collapse" data-target="#collapse_3" aria-expanded="true" class="">
                        <i class="icon-control fa fa-chevron-down"></i>
                        <h6 class="title">Precios </h6>
                    </a>
                </header>
                <div class="filter-content collapse show" id="collapse_3" style="">
                    <div class="card-body">

                        <div class="form-row">
                        <div class="form-group col-md-6">
                          <label>Min</label>
                          <!-- <input class="form-control" placeholder="$0" type="number"> -->
                              <select class="mr-2 form-control">
                                <option value="0">$0</option>
                                <option value="50">$50</option>
                                <option value="100">$100</option>
                                <option value="150">$150</option>
                                <option value="200">$200</option>
                                <option value="500">$500</option>
                                <option value="1000">$1000</option>
                            </select>
                        </div>
                        <div class="form-group text-right col-md-6">
                          <label>Max</label>
                              <select class="mr-2 form-control">
                             <option value="50">$50</option>
                                <option value="100">$100</option>
                                <option value="150">$150</option>
                                <option value="200">$200</option>
                                <option value="500">$500</option>
                                <option value="1000">$1000</option>
                                <option value="2000">$2000+</option>
                            </select>
                        </div>
                        </div> <!-- form-row.// -->
                        <button class="btn btn-block btn-primary">Buscar</button>
                    </div><!-- card-body.// -->
                </div>
            </article> <!-- filter-group .// -->

        </div> <!-- card.// -->

    </aside> <!-- col.// -->   

    <div class="grid">
        {% if products %}
        {% for product in products %}
        <div class="product">
            <a href="{{ product.get_url }}">
                <img class="product__image" src="{{product.images.url}}" alt="product image">
                <div class="product__info">
                    <p class="product__name">{{product.product_name}}</p>
                    <p class="product__price">{{product.price}}</p>
                </div>
            </a>
        </div> <!--product-->
        {% endfor %}
        {% else %}

        <h1 class="grid-notFoundMessage">No se encontraron resultados...</h1>

        {% endif %}
        
    </div> <!--products' grid-->

    {% if products.has_other_pages %}
    <div class="paginatorContainer">
        <ul class="paginator">
            {% if products.has_previous %}
            <li class="form__submit paginator-nav" type="submit"> <a href="?page={{products.previous_page_number}}"><span class=""><</span> </a></li>
            {% endif %}

            {% for page in products.paginator.page_range %}

            {% if products.number == page %}
            <li class="nav__link paginator-page disabled" type="submit"> <a href="#"><span class="">{{page}}</span> </a></li>
            {% else %}
            <li class="nav__link paginator-page" type="submit"> <a href="?page={{page}}"><span class="">{{page}}</span> </a></li>
            {% endif %}

            {% endfor %}
            
            {% if products.has_next %}
            <li class="form__submit paginator-nav" type="submit"> <a href="?page={{products.next_page_number}}"><span class="">></span> </a></li>
            {% endif %}
            
        </ul>
    </div>
    {% endif %}
</main>
{% endblock %}


