{% extends 'base.html' %}
{% load static %}


{% block content %}
<main class="container">
    <h1>Nuestros Productos</h1>
    <div class="grid">
        <div class="product">
            <a href="product.html">
                <img class="product__image" src="img/product1.gif" alt="product image">
                <div class="product__info">
                    <p class="product__name">Libro de Reparación</p>
                    <p class="product__price">$52</p>
                </div>
            </a>
        </div> <!--product-->
        <div class="product">
            <a href="product.html">
                <img class="product__image" src="img/product2.webp" alt="product image">
                <div class="product__info">
                    <p class="product__name">Espada de Diamante</p>
                    <p class="product__price">$348</p>
                </div>
            </a>
        </div> <!--product-->
        <div class="product">
            <a href="product.html">
                <img class="product__image" src="img/product3.png" alt="product image">
                <div class="product__info">
                    <p class="product__name">Pasto</p>
                    <p class="product__price">$2</p>
                </div>
            </a>
        </div> <!--product-->
        <div class="product">
            <a href="product.html">
                <img class="product__image" src="img/product4.png" alt="product image">
                <div class="product__info">
                    <p class="product__name">TNT</p>
                    <p class="product__price">$132</p>
                </div>
            </a>
        </div> <!--product-->
        <div class="product">
            <a href="product.html">
                <img class="product__image" src="img/product5.png" alt="product image">
                <div class="product__info">
                    <p class="product__name">Fabricador</p>
                    <p class="product__price">$34</p>
                </div>
            </a>
        </div> <!--product-->
        <div class="product">
            <a href="product.html">
                <img class="product__image" src="img/product6.png" alt="product image">
                <div class="product__info">
                    <p class="product__name">Cofre de Énder</p>
                    <p class="product__price">$237</p>
                </div>
            </a>
        </div> <!--product-->
        <div class="product">
            <a href="product.html">
                <img class="product__image" src="img/product7.webp" alt="product image">
                <div class="product__info">
                    <p class="product__name">Mapa del Explorador</p>
                    <p class="product__price">$109</p>
                </div>
            </a>
        </div> <!--product-->
        <div class="product">
            <a href="product.html">
                <img class="product__image" src="img/product8.png" alt="product image">
                <div class="product__info">
                    <p class="product__name">Bedrock</p>
                    <p class="product__price">$518</p>
                </div>
            </a>
        </div> <!--product-->
        <div class="product">
            <a href="product.html">
                <img class="product__image" src="img/product9.webp" alt="product image">
                <div class="product__info">
                    <p class="product__name">Patata Envenenada</p>
                    <p class="product__price">$3</p>
                </div>
            </a>
        </div> <!--product-->
        <div class="product">
            <a href="product.html">
                <img class="product__image" src="img/product10.png" alt="product image">
                <div class="product__info">
                    <p class="product__name">Piedra</p>
                    <p class="product__price">$5</p>
                </div>
            </a>
        </div> <!--product-->
        <div class="product">
            <a href="product.html">
                <img class="product__image" src="img/product11.png" alt="product image">
                <div class="product__info">
                    <p class="product__name">Mesa de Crafteo</p>
                    <p class="product__price">$7</p>
                </div>
            </a>
        </div> <!--product-->
        <div class="product">
            <a href="product.html">
                <img class="product__image" src="img/product12.webp" alt="product image">
                <div class="product__info">
                    <p class="product__name">Afilador</p>
                    <p class="product__price">$12</p>
                </div>
            </a>
        </div> <!--product-->
        <div class="product">
            <a href="product.html">
                <img class="product__image" src="img/product13.webp" alt="product image">
                <div class="product__info">
                    <p class="product__name">Madera Pálida</p>
                    <p class="product__price">$6</p>
                </div>
            </a>
        </div> <!--product-->
        <div class="product">
            <a href="product.html">
                <img class="product__image" src="img/product14.webp" alt="product image">
                <div class="product__info">
                    <p class="product__name">Horno</p>
                    <p class="product__price">$8</p>
                </div>
            </a>
        </div> <!--product-->
        <div class="graphic grapich--world1"></div>
        <div class="graphic grapich--world2"></div>
    </div> <!--products' grid-->
</main>
{% endblock %}


